@model Lab3.Models.QuizGen
@{
    ViewData["Title"] = "Result";
    int sum = 0;
}
@if (@Model.Expressions[0].Ans == @Model.Expressions[Model.Expressions.Count - 1].rightAnswer) { sum++; }
<h2>Quiz Results</h2>
<p>
    <ol>
        <li>@Model.Expressions[Model.Expressions.Count - 1].number1 @Model.Expressions[Model.Expressions.Count - 1].op @Model.Expressions[Model.Expressions.Count - 1].number2 = @Model.Expressions[0].Ans (@Model.Expressions[Model.Expressions.Count - 1].rightAnswer)</li>
        @for (int i = 0; i < Model.Expressions.Count - 1; i++)
        {
            <li>@Model.Expressions[i].number1 @Model.Expressions[i].op  @Model.Expressions[i].number2 = @Model.Expressions[i + 1].Ans  (@Model.Expressions[i].rightAnswer)</li>
            @if (@Model.Expressions[i+1].Ans == @Model.Expressions[i].rightAnswer) { sum++; }
        }
    </ol>
</p>
<h3>Right Answers @sum out @Model.Expressions.Count</h3>