@model Lab4.Models.SignUpModel
@{
    ViewData["Title"] = "SignUpResult";
}

<h2>Sign Up result</h2>

<p>@Model.FirstName</p><br />
<p>@Model.LastName</p><br />
<p>@Model.Gender</p><br />
<p>@Model.Day @Model.Month  @Model.Year</p><br />
<p>@Model.Email</p><br />
<p>@Model.Password</p><br />